@use "../abstract";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(17%)
        saturate(2046%) hue-rotate(210deg) brightness(95%) contrast(97%);

    --body-bg: #f6f6f6;
    --header-bgr-color: #eeeeee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropsown-shadow-color: rgba(200, 200, 200, 0.4);
    --topmenu-border-color: #d2d1d6;

    // Nếu nó nằm trong phần layout thì phải tạo ra @mixins như này
    @include abstract.breakPoints(lg) {
        --header-bgr-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }
}
