@use "../abstract";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--header-bgr-color);
    padding: 3rem 0;

    @include abstract.screen(lg) {
        padding: 2rem 0;
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    }

    @include abstract.screen(md) {
        padding: 1.6rem 0;
    }
}

.top-bar {
    @extend %flexItemsCenter;

    position: relative;
    z-index: 1;

    @include abstract.screen(md) {
        justify-content: space-between;
    }

    &__more {
        display: none;

        @include abstract.screen(lg) {
            display: block;
            margin-top: 0.5rem;
        }
    }
}

.navbar {
    margin-left: 12.9rem;
    z-index: 9;

    @include abstract.screen(xl) {
        margin-left: 0.4rem;
    }

    @include abstract.screen(lg) {
        // display: none;
        position: fixed;
        inset: 0 50% 0 0;
        background: var(--sidebar-bg);
        margin-left: 0px;
        padding: 3.5rem 0 0 3.5rem;
        translate: -100%;
        transition: translate 0.5s;
        border-radius: 0 2rem 2rem 0;

        &.show {
            translate: 0;
            box-shadow: var(--sidebar-shadow);
        }

        // CSS navbar khi có class show cho thẻ anh em đứng sau nó có class navbar--overlay
        &.show ~ &--overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    @include abstract.screen(sm) {
        inset: 0 20% 0 0;
        padding: 2rem 0 0 2rem;
    }

    &--overlay {
        visibility: hidden;
        opacity: 0;

        @include abstract.screen(lg) {
            background-color: rgba($color: #000000, $alpha: 0.4);
            position: fixed;
            inset: 0;
            z-index: 8;

            transition-property: visibility, opacity;
            transition-duration: 0.5s;
        }
    }

    &__list {
        @extend %flexItemsCenter;

        @include abstract.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
            overflow-y: auto;
            max-height: calc(100% - 3rem);
            overscroll-behavior: contain;
        }

        @include abstract.screen(sm) {
            max-height: calc(100% - 13rem);
        }
    }

    &__item {
        width: 100%;

        @include abstract.screen(lg) {
            width: 100%;

            &:hover .dropdown {
                display: none;
            }

            &--active .dropdown {
                display: block !important;
            }
        }

        &:hover .dropdown {
            display: block;
        }
    }

    &__item &__link {
        @extend %flexItemsCenter;

        justify-content: space-between;
        column-gap: 0.6rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
        height: 5rem;
        padding: 0 15px;
    }

    .navbar &__link {
        @include abstract.screen(sm) {
            height: 4.4rem;
            padding-left: 0;
        }
    }

    &__arrow {
        margin-top: 3px;

        @include abstract.screen(lg) {
            transform: rotate(-90deg);
            transition: rotate 0.3s;
        }
    }

    &__item--active &__arrow {
        transform: rotate(0deg);
    }

    &__close-btn {
        display: none;

        @include abstract.screen(lg) {
            display: block;
            padding-left: 1.5rem;
        }

        @include abstract.screen(sm) {
            padding-left: 0;
        }
    }
}

.top-act {
    @extend %flexItemsCenter;

    margin-left: auto;
    column-gap: 2rem;

    @include abstract.screen(md) {
        margin-left: 0px;

        &__sign-up {
            height: 4rem !important;
            padding: 0 1.2rem !important;
            font-size: 1.5rem !important;
        }
    }

    &__group {
        @extend %flexItemsCenter;

        min-width: 5rem;
        height: 5rem;

        border-radius: 0.8rem;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);

        @include abstract.screen(md) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 1.3rem;
    }

    &__group--single {
        @include abstract.screen(lg) {
            display: none;
        }
    }

    &__btn {
        @extend %flexItemsCenter;

        column-gap: 1rem;
        padding: 1.3rem 2rem;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
    }

    &__separate {
        width: 0.1rem;
        height: 3rem;
        margin: 0 2rem;
        background-color: var(--top-act-group-separate);
    }

    &__user {
        width: 5rem;
        height: 5rem;
        border-radius: 0.8rem;
        box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
        cursor: pointer;
    }

    &__avatar {
        width: 100%;
        border-radius: 0.8rem;
        box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
    }
}

.nav-btn {
    height: 5rem;
    align-items: center;
    padding: 0 1.5rem;

    @include abstract.screen(sm) {
        height: 4rem;
        padding-left: 0;
    }

    &__title,
    &__qnt {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
    }

    &__title {
        margin-left: 1.6rem;
    }

    &__qnt {
        margin-left: auto;
    }
}
