// Sau này có nhiều button cũng sẽ đưa hết vào đây

// Filter button
.filter-btn {
    display: flex;
    align-items: center;
    gap: 1.4rem;

    height: 3.6rem;

    color: var(--filter-btn-color);
    border-radius: 0.6rem;
    padding: 0 1.4rem;
    background: var(--filter-btn-bg);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.42;
}

// like button
.like-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5rem;
    height: 5rem;
    border-radius: 50%;

    box-shadow: 0px 20px 60px var(--like-btn-shadow);

    &:not(&--liked) &__icon--liked {
        display: none;
    }

    &--liked &__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 1rem;
    }
}

// Buttons
// Thiết kế hết 1 loạt button
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 4.6rem;

    padding: 0 2rem;
    background-color: #f8f8fb;
    border-radius: 0.6rem;

    font-size: 1.8rem;
    font-weight: 500;
    // Loại bỏ bôi đen
    user-select: none;

    &:hover {
        opacity: 0.9;
    }

    + .btn {
        &:not(.btn--no-magin) {
            margin-left: 2rem;
        }
    }

    &--text {
        color: #9e9da8;

        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.46;
        background-color: transparent;
    }

    &--primary {
        color: #171c28;
        background: #ffb700;
    }

    &--outline {
        border-radius: 1rem;
        border: 1px solid #d2d1d6;
        background: transparent;
    }

    &--round {
        border-radius: 999rem;
        background: #ffb700;
    }

    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
