.dropdown {
    // display: none;
    width: min(124rem, 100%);
    position: absolute;
    left: 0;
    padding-top: 54px;

    &__inner {
        --inner-max-height: min(58.2rem, 100vh - 15.8rem);
        --inner-padding: 3rem;

        position: relative;
        // max-height: tức là kích thước tuyệt đội là bao nhiêu
        // Bên trong lại có min -> 58.2 tức là kịch kim chiều cao là 58.2 -> còn chiều cao mà bé hơn 58.2 thì auto chiều cao
        max-height: --inner-max-height;
        padding: var(--inner-padding);
        border-radius: 2rem;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropsown-shadow-color);

        &::before {
            content: url(../icons/dropdown-arrow.svg);
            position: absolute;
            top: -1.4rem;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }
}

.top-menu {
    // Tạo thanh cuộn ngang
    // Muốn thanh cuộn ngang xuất hiện -> thì để 1 element nằm gọn bên trong 1 phân tử thì nó sẽ ra đc thanh cuộn ngang
    // Chú ý ko được để elements bên trong được đâm ra ngoài
    max-height: calc(var(--inner-max-height) - var(--inner-padding) * 2);

    &__main {
        width: 29.2rem;
        overflow-y: auto;
        max-height: inherit;
        border-right: 1px solid var(--topmenu-border-color);
    }
}

.menu-column {
    display: flex;
    column-gap: 1.4rem;

    &__icon {
        position: relative;

        flex-shrink: 0;
        width: 3.6rem;
        height: 3.6rem;
    }

    &__content {
        flex: 1;
    }

    &__icon-1 {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
    }

    &__icon-2 {
        position: absolute;
        right: 0;
        bottom: 0;

        object-fit: cover;
        width: 2.4rem;
        height: 2.4rem;
        filter: var(--menu-column-icon-color);
    }

    &__heading {
        margin-top: 0.5rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
    }

    &__list {
        margin-top: 1.9rem;
    }

    &__link {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.42;
        padding: 0.7rem 0px;

        &:hover {
            font-weight: 500;
            color: #0071dc;
        }
    }
}
