@use "../abstract";

$error-color: #ed4337;

.form {
    // Tức là nếu trong form -> có trường đang bị lỗi -> thì sẽ không nhấn được nút Sign-In
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__row {
        display: flex;
        gap: 3rem;

        @include abstract.screen(sm) {
            flex-direction: column;
        }
    }

    &__group {
        margin-top: 3rem;
        flex: 1;

        &--inline {
            display: flex;
            align-items: center;
        }

        @include abstract.screen(md) {
            margin-top: 2rem;
        }
    }

    // Khi form-group có lỗi -> và thẻ input ko có placeholder
    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) &__text-input {
        border-color: $error-color;
        background: rgba($color: $error-color, $alpha: 0.1);
    }

    &__text-input {
        display: flex;
        align-items: center;

        height: 5rem;

        padding: 0 1.2rem;
        border-radius: 1rem;
        border: 1px solid #d2d1d6;

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__input {
        flex: 1;
        height: 100%;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.6rem;

        @include abstract.screen(md) {
            font-size: 1.6rem;
        }

        &::placeholder {
            color: var(--form-placeholder-color);
        }

        &-icon {
            display: inline-block;
            width: 2.4rem;
            font-size: 2.4rem;

            margin-left: 1.2rem;
        }

        &-icon-error {
            display: none;
            margin-left: 1.2rem;

            animation: shake 0.5s;
        }
    }

    &__error {
        display: none;

        font-size: 1.4rem;
        font-weight: 500;
        color: $error-color;
        text-align: left;
        margin-top: 1rem;
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__input-icon {
            display: none;
        }

        .form__error {
            display: block;
        }

        .form__input-icon-error {
            display: block;
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;

        display: flex;
        align-items: center;

        cursor: pointer;
        user-select: none;

        &-lable {
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2.2rem;
            margin-left: 2.9rem;

            @include abstract.screen(md) {
                font-size: 1.4rem;
            }
        }

        &::before,
        &::after {
            position: absolute;
            content: "";
        }

        &::before {
            display: inline-block;
            width: 1.9rem;
            height: 1.9rem;
            border-radius: 0.5rem;
            border: 0.1rem solid #9e9da8;
        }
    }

    &__checkbox:has(:checked) {
        &::before {
            background-color: #ffb700;
            border-color: #ffb700;
        }

        &::after {
            width: 1.5rem;
            height: 0.8rem;
            border: 2px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
            left: 0.2rem;
            top: 0.5rem;
        }
    }

    &__lable {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.45;

        &--medium {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 2.6rem;
            margin-bottom: 2rem;
        }

        &--small {
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
    }

    &__select-wrap {
        display: flex;
        align-items: center;

        height: 4.5rem;

        border-radius: 0.6rem;
        border: 1px solid #d2d1d6;
    }

    &__select {
        display: flex;
        justify-content: space-between;
        align-items: center;

        min-width: var(--width, 10.8rem);
        height: calc(100% - 1rem);
        padding: 0 1.4rem;

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.42;

        cursor: pointer;

        @include abstract.screen(xl) {
            flex: 1;
        }
    }

    &__select + &__select {
        border-left: 1px solid #d2d1d6;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2rem;
        row-gap: 1.5rem;

        @include abstract.screen(sm) {
            gap: 0.9rem;
        }
    }

    &__tag {
        color: #9e9da8;
        font-size: 1.4rem;
        font-weight: 500;

        padding: 0.6rem 1.2rem;
        border-radius: 0.6rem;

        line-height: 1.42;
        background: var(--form-tag-bg);

        transition: color 0.2s;

        &:hover {
            color: var(--text-color);
        }
    }
}
