@use "../abstract";

.review-card {
    display: flex;
    flex-direction: column;

    height: 100%;

    background: var(--revieww-card-bg);
    border-radius: 1.6rem;
    padding: 3rem;

    &__content {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;

        @include abstract.screen(xl) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        @include abstract.screen(md) {
            flex-direction: row;
            align-items: initial;
            text-align: left;
        }
    }

    &__avatar {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 3.2rem;
    }

    &__desc {
        margin-top: 1rem;

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        margin-top: auto;

        @include abstract.screen(xl) {
            flex-direction: column;
        }

        @include abstract.screen(md) {
            flex-direction: row;
        }

        &-title {
            margin-left: 1.2rem;

            font-size: 1.8rem;
            font-weight: 500;
            line-height: 2.6rem;
        }
    }

    &__star-list {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }
}
