@use "../abstract";

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

a,
div,
button,
input,
label,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    // Bỏ hight light khi ấn
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border: none;
    padding: 0;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

input {
    background-color: transparent;
}

.icon {
    filter: var(--icon-color);
}

.d-block {
    display: block !important;
}
.d-flex {
    display: flex !important;
}
.d-grid {
    display: grid !important;
}
.d-none {
    display: none !important;
}

.container {
    @include abstract.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
