@use "sass:math";

$grid-breakpoints: (
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
);

$container-max-widths: (
    sm: 100%,
    md: 540px,
    lg: 720px,
    xl: 960px,
    xxl: 1140px,
);

$grid-columns: 12;
$grid-gutter-width: 30px !default;

$gutters: (
    0: 0,
    1: 0.25,
    2: 0.5,
    3: 1,
    4: 1.5,
    5: 3,
);

%gutter-padding {
    padding-left: calc(var(--grid-gutter-x) * 0.5);
    padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid {
    --grid-gutter-x: #{$grid-gutter-width};
    --grid-gutter-y: 0;

    width: 100%;
    margin: 0 auto;
    @extend %gutter-padding;
}

.container {
    @extend .container-fluid;
    width: 1370px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
    margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
    margin-top: calc(var(--grid-gutter-y) * -1);

    &[class*="row-cols-"] > *,
    [class*="col-"] {
        flex: 0 0 auto;
        @extend %gutter-padding;
    }

    > * {
        margin-top: var(--grid-gutter-y);
    }
}

.col {
    flex: 1 0 auto;
    @extend %gutter-padding;
}

@mixin make-media-query($dimensitions) {
    @media screen and (max-width: ($dimensitions - 0.02)) {
        @content;
    }
}

@mixin make-row-cols($infix: null) {
    @for $i from 1 through 6 {
        @if $infix == "xs" {
            // CSS vào thẻ con trực tiếp của thằng row-cols
            .row-cols-#{$i} > * {
                width: math.div(100%, $i);
            }
        } @else {
            .row-cols-#{$infix}-#{$i} > * {
                width: math.div(100%, $i);
            }
        }
    }
}

@mixin make-column($infix: null) {
    @for $i from 1 through 12 {
        @if $infix == "xs" {
            .col-#{$i} {
                width: math.div(100%, 12) * $i;
            }
        } @else {
            .col-#{$infix}-#{$i} {
                width: math.div(100%, 12) * $i;
            }
        }
    }
}

@mixin make-offset($infix: null) {
    @for $i from 0 through 11 {
        @if $infix == "xs" {
            .offset-#{$i} {
                margin-left: math.div(100%, 12) * $i;
            }
        } @else {
            .offset-#{$infix}-#{$i} {
                margin-left: math.div(100%, 12) * $i;
            }
        }
    }
}

@mixin make-gutter($infix: null) {
    @each $i, $ratio in $gutters {
        @if $infix == "xs" {
            .g-#{$i} {
                --grid-gutter-x: #{$grid-gutter-width * $ratio};
                --grid-gutter-y: #{$grid-gutter-width * $ratio};
            }
        } @else {
            .g-#{$infix}-#{$i} {
                --grid-gutter-x: #{$grid-gutter-width * $ratio};
                --grid-gutter-y: #{$grid-gutter-width * $ratio};
            }
        }
    }

    @each $i, $ratio in $gutters {
        @if $infix == "xs" {
            .gx-#{$i} {
                --grid-gutter-x: #{$grid-gutter-width * $ratio};
            }
        } @else {
            .gx-#{$infix}-#{$i} {
                --grid-gutter-x: #{$grid-gutter-width * $ratio};
            }
        }
    }

    @each $i, $ratio in $gutters {
        @if $infix == "xs" {
            .gy-#{$i} {
                --grid-gutter-y: #{$grid-gutter-width * $ratio};
            }
        } @else {
            .gy-#{$infix}-#{$i} {
                --grid-gutter-y: #{$grid-gutter-width * $ratio};
            }
        }
    }
}

// Để bên ngoài như này là vì khi chúng ta ko truyền tham số vào nó sẽ ko bị lõi
@include make-row-cols();

@include make-column();

@include make-offset();

@include make-gutter();

// Tạo media query cho break-points
@each $infix, $dimensitions in $grid-breakpoints {
    $max-width: map-get($container-max-widths, $infix);

    @include make-media-query($dimensitions) {
        .container {
            max-width: $max-width;
        }

        @include make-row-cols($infix);

        @include make-column($infix);

        @include make-offset($infix);

        @include make-gutter($infix);
    }
}
